<%- include('partials/header.ejs') %>

<div class="container card" style="width: 80%">
  <div class="card-body">
    <h5 class="card-title"><%=title%></h5>
    <p class="card-text"><%=data%></p>
  </div>
</div>
<%- include('partials/footer.ejs')%>
