<%- include('partials/header.ejs') %>
<div class="container w-75 list-group">
  <% for( let i = 0; i < fileNameList.length; i++ ) { %>

  <a
    class="list-group-item list-group-item-action"
    href="/article/<%=fileNameList[i] %>"
    ><%= fileNameList[i] %></a
  >

  <% } %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $(".nav-item .nav-link.active").removeClass("active");
  $('a[href="/"]').addClass("active");
</script>
<%- include('partials/footer.ejs')%>
