<%- include('partials/header.ejs') %>
<div class="container w-75 list-group">
  <% for( let i = 0; i < fileNameList.length; i++ ) { %>

  <a
    class="list-group-item list-group-item-action"
    href="/article/<%=fileNameList[i] %>"
    ><%= fileNameList[i] %></a
  >

  <% } %>
</div>

<%- include('partials/footer.ejs')%>
