<%- include('partials/header.ejs') %>
<body>
  <!-- post blog -->
  <form class="container-sm col-9" action="/submit" method="post">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Blog Title</label
      >
      <input
        type="Blog_Title"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Blog Title"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Blog Content</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="content"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
    $(".nav-item .nav-link.active").removeClass("active");
    $('a[href="/post"]').addClass("active");
  </script>
  <%- include('partials/footer.ejs') %>
</body>
